/*
 * @Author: zengjian 
 * @Date: 2018-12-17 20:59:23 
 * @Last Modified by: zengjian
 * @Last Modified time: 2018-12-20 19:52:10
 */
.box-feature{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    z-index: 1;
}

.z-cur{
    border: 2px blue solid;
    .u-left,.u-top,.u-right,.u-bottom,.u-leftTop,.u-rightTop,.u-rightBottom,.u-leftBottom{
        position: absolute;
        width: 8px;
        height: 8px;
        background: #fff;
        border: 1px blue solid;
    }
    .u-leftTop,.u-rightTop{
        top: -4px;
    }
    .u-leftTop{
        left: -4px;
    }
    .u-rightTop{
        right: -4px;
    }
    .u-left{
        left: -4px;
        top: calc(50% - 4px);
    }
    .u-right{
        right: -4px;
        top: calc(50% - 4px);
    }
    .u-leftBottom{
        bottom: -4px;
        left: -4px;
    }
    .u-rightBottom{
        bottom: -4px;
        right: -4px;
    }
    .u-top{
        left: calc(50% - 4px);
        top: -4px;
    }
    .u-bottom{
        bottom: -4px;
        left: calc(50% - 4px);
    }
    .delete{
        border: 1px solid #f00;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 3px;
        right: 3px;
        background: rgba(255, 0, 0, .5);
        font-size: 8px;
        line-height: 10px;
        text-align: center;
    }
}