/*
 * @Author: zengjian 
 * @Date: 2018-12-17 20:59:23 
 * @Last Modified by: zengjian
 * @Last Modified time: 2018-12-17 21:01:06
 */
.box-feature{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    z-index: 1;
}